<!DOCTYPE html>
<html>
    <head> 
        <title>LOGIN</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
        <link rel="stylesheet" href="/projet ssad/swiper-bundle.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <nav id="nav">
            <div class="navbar">
                <div class="logo">
                    <i class="fa-solid fa-unlock-keyhole"></i> SəcurityChəck 
                </div>
                <div class="links">
                <a href="{{ url_for('Login') }}">OPTIONS</a>
                <a href="{{ url_for('home') }}">LOG OUT</a>
                </div>
            </div>
        </nav> 
        <div class="header">
            <h1>The security level of your account </h1>
        </div>
        <div class="container1">
            <div class="outer"> <div class="inner"></div> </div>
            <div class="parcent" data-similarity="{{ similarity_percentage }}">{{ similarity_percentage }}%</div>
        </div>
    </body>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var similarityPercentage = parseInt("{{ similarity_percentage }}");
            var innerBar = document.querySelector('.inner');
            var percentText = document.querySelector('.parcent');
            var x = 0;
            var y = "%";
    
            var intervalId = setInterval(() => {
                if (x <= similarityPercentage) {
                    innerBar.style.width = x + y;
                    percentText.innerText = x + y;
                    x++;
                } else {
                    clearInterval(intervalId);
                }
            }, 150);
        });
    </script>
    
</html>